@font-face {
    font-family: 'Goudy Bookletter 1911';
    src: url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap') format('woff2')
    font-weight: normal;
    font-style: normal;
}
